.page-nav{
	height: 8vh;
	width: 100vw;
    display: flex;
    position: fixed; 
	background-color: #ffffff;
    box-shadow: 0 2px 5px #cccccc;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
 
.page-nav a{
	text-decoration: none;
    padding: 0 1em 0 1em;
	font-size: 1.25em;
	color: #191919;
	display: inline-flex;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.page-nav h2{
	padding-left: 25px;
    color: #191919;
    font-size: 30px;
    flex-grow: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.page-nav a:hover{
	color: #cccccc;
}

 @media screen and (max-height: 450px) {
  .nav a {font-size: 10px;}
} 