.page-nav{
	height: auto;
	width: 100vw;
    display: flex;
    position: fixed; 
	background-color: #ffffff;
    box-shadow: 0 2px 5px #cccccc;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
 
.page-nav a{
	text-decoration: none;
    padding: 0 1em 0 1em;
	font-size: 1.25em;
	color: #191919;
	display: inline-flex;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.page-nav a:last-child{
    margin-right: 10vw;
} 
.page-nav h2{
	padding-left: 25px;
    color: #191919;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-grow: 2;
}
.page-nav img{
    width: 200px;
    height: auto;
}


.page-nav a:hover{
	color: #792936;
}

 @media screen and (max-width: 500px) {
    .page-nav a{
        padding: 0 .2em 0 .2em;
    }
    .page-nav h2{
        display: none;
    }
} 